@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  html {
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  [data-theme="cupcake"] {
    --color-primary: #0d9488;
    --color-primary-content: #f0fdfa;
    --color-error: #e82e86;
    --color-error-content: #fff5fa;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .preview-hidden-outline {
    outline: none;
  }

  .checkbox,
  .checkbox:checked,
  .select:focus-within,
  .input:focus,
  .input,
  .toggle,
  .toggle:before,
  .toggle:after {
    box-shadow: none;
  }

  .checkbox {
    border-radius: 0.3rem;
  }

  .range::-webkit-slider-thumb {
    box-shadow:
      -1000px 0 0px 992px currentColor,
      0 0 0 5px white inset;
  }

  .toggle-primary:not(:checked):not([aria-checked="true"]) {
    --input-color: var(--color-primary);
    background-color: var(--color-base-100);
  }

  .toggle-primary:checked,
  .toggle-primary[aria-checked="true"],
  .toggle-primary:has(> input:checked) {
    background-color: var(--color-primary);
  }

  .toggle-primary:checked::before,
  .toggle-primary[aria-checked="true"]::before,
  .toggle-primary:has(> input:checked)::before {
    background-color: var(--color-base-100);
  }
}
